<footer >
    <div class="f-info">
    <div class="footer-icon">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="name">&COPY;WANDER LUST PRIVATE LIMITED</div>
    <div class="footer-link">
        <a href=""> PRIVACY POLICY</a>
        <a href="">TERMS</a>

    </div>
</div>
</footer>